<div class="col-xs-12">
  <h1>tasks</h1>
</div>
<div class="col-xs-12">
  <ul>
    <li *ngFor="let todo of toDos">
      <label class="checkboxContainer">
        {{todo.text}}
        <input type="checkbox" [(ngModel)]="todo.status" (change)="updateTask(todo.id, todo.status)">
        <span class="checkmark"></span>
      </label>
    </li>
  </ul>
  <!-- {{toDos | json}} -->
</div>
<div class="col-xs-12">
  <div class="addBtn" routerLink="/newToDo">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </div>
</div>